.profile-wrapper {
    display: flex;
}

.profile-wrapper .header {
    text-align: center;
    font-size: 2.2em;
    letter-spacing: 1px;
    font-weight: 200;
    padding: 20px 0;
}

.profile-wrapper .cards {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    width: 80vw;
    margin: 90px auto 0 auto;
}

.profile-wrapper .cards .left, .cards .right{
    width: 35%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.profile-wrapper .img-uploader {
    padding: 20px;
}

.profile-wrapper .img-uploader div:first-child {
    margin: 20px 0 30px 0;
}

.profile-wrapper .img-uploader .upload-box {
    background-color: #dadfea;
    border: 1px dashed black;
    padding: 30px 20px;
}
.profile-wrapper .image-btn {
    border: 1px solid white;
    padding: 7px 15px;
    cursor: pointer;
    color: white;
    background-color: #00aaf1;
    font-size: 1em;
}

.profile-wrapper .display-image {
    border-radius: 50%;
    width: 300px !important;
    margin-top: 20px;
    height: 300px !important;
}


.profile-wrapper .prof {
    margin-top: 20px;
}
